# ─── Supabase ─────────────────────────────────────────────────────────────────
NEXT_PUBLIC_SUPABASE_URL=https://uimlobhczjctoytejkgh.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVpbWxvYmhjempjdG95dGVqa2doIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM3ODYzODQsImV4cCI6MjA4OTM2MjM4NH0.LawnHHTjCQMYgYw7fXX_tvz-wBTps-M1W4bsz_2eXZI

# ─── AWS S3 ───────────────────────────────────────────────────────────────────
NEXT_PUBLIC_AWS_REGION=us-east-2
NEXT_PUBLIC_AWS_BUCKET=flow-qc-proyecto
# ⚠️  Obtener de AWS IAM → usuario → credenciales de acceso
NEXT_PUBLIC_AWS_ACCESS_KEY_ID=TU_ACCESS_KEY_AQUI
NEXT_PUBLIC_AWS_SECRET_ACCESS_KEY=TU_SECRET_KEY_AQUI
